
*{/* <-- is the default styling */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;  /* this turns the element into a flex container  A flex container expands items to fill available free space or shrinks them to prevent overflow.*/
    align-items: center; /* it'll center the items vertically. If the flex-directions is set to column, it will align the items horizontally.*/
    justify-content: start; 
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
}

.instagram-phone img{
    height: 50rem; /*rem 	Relative to font-size of the root element*/
    /*for more inuts, visit: https://www.w3schools.com/cssref/css_units.asp*/
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;  /*this kind of rotates the flexbox 90 degrees. the centered align-items align the items horizontally now. The Justify-content now space the content vertically.*/
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    /*now let's create the box look to the div*/
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    width: 100%; /*50% of it's parent class*/
    padding: 1.3rem 0; 
    /*----------------------------------------*/
}

.group:nth-child(1){ /*nth-child(n) --> Style the nth instance of the class */
    min-height: 19rem;
    margin-bottom: 1.3rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img{
    height: 9rem;
}

.instagram-login{
   margin: 0;
   background-color: rgba(var(--d69,0,149,246),1);
   border: 1px solid transparent;
   margin-top: 16px;
   margin-bottom: 16px;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 600;
   padding: 5px 9px;
   text-align: center;
   color: #fff;
}

.instagram-logout{
    margin: 15px 0;
    padding: 0 40px;
    text-align: center;
    color: #0095f6;
}

.not-account{
    color: rgba(var(--i1d,38,38,38),1);
}

.link-blue{
    color: #0095f6;
}

.get-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.app-download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.download-app{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){/*first get app bottton - apples tore*/
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2){/*second get app bottton - google play*/
    background-image: url('./img/googleplay-button.png');
}
